* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 14, 42);
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=2000");
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

form {
  background-color: #382caa;
  width: 500px;
  position: relative;
  max-width: 100%;
  display: flex;
}

input {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#songList {
  background-color: #eeeeee;
  width: 900px;
  margin: auto;
  min-height: 50vh;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#songList li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(202, 219, 193);
  border-radius: 5px;
}
